h2 {
    margin-bottom: 10px;
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}

main {
    margin-bottom: 40px;
    margin-top: 40px;
}

footer {
    background-color: #254435;
    width: 100%;
    height: 300px;
}

p {
    margin-bottom: 10px;
}

section {
    margin: 20px 0;
}

.bg-light {
    background-color: #254435 !important;
}

.btn {
    margin: 0 5px;
}

.btn-outline-primary {
    color: #254435;
    border-color: #254435;
}

.cost {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.chargeDesc {
    border-bottom: 1px solid #E1E3E2;
    padding-top: 10px;
}

.descGrid {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "description request";
}

.description {
    grid-area: description;
}

.show>.btn-outline-primary.dropdown-toggle {
    background-color: #71A633;
    border-color: #71A633;
}

.btn-outline-primary:hover {
    background-color: #71A633;
    border-color: #71A633;
}

.btn-primary {
    border: #71A633;
    background-color: #71A633;
}

.btn-primary:hover {
    background-color: #254435;
}

.card {
    margin: 16px auto;
}

.card-columns {
    column-count: 4;
  }

.divider {
    border-top: 1px solid black;
    width: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoText {
    font-size: 12px;
}

.jumbotron {
    margin-bottom: 0;
}

.navbar-brand, .nav-link{
    color: rgba(255,255,255,1) !important;
}

.navbar-toggler-icon {
    color: rgba(255,255,255,1) !important;
}

.nav-search {
    margin: auto 0;
}

.pic {
    width: 100%;
    height: auto;
}

.picGrid {
    display: grid;
    height: 50%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "wPic qPic1 qPic2" 
    "wPic qPic3 qPic4";
}

.qPic1 {
    grid-area: qPic1;
}
.qPic2 {
    grid-area: qPic2;
}
.qPic3 {
    grid-area: qPic3;
}
.qPic4 {
    grid-area: qPic4;
}

.rating {
    padding: 0 5%;
}

.request {
    grid-area: request;
    padding: 0 20px;
}

.requestBox {
    background-color:white;
    border: 1px solid #E1E3E2;
    border-radius: 10px;
    height: auto;
    padding: 40px 40px;
    width: 500px;
}

.requestHeader{
    border-bottom: 1px solid #E1E3E2;
    padding-bottom: 20px;
}

.search-hide {
    display: none !important;
    align-items: center;
}

.searchLg {
    background-color:white;
    border: 1px solid #E1E3E2;
    border-radius: 10px;
    height: auto;
    margin-left: 15%;
    padding: 40px 40px;
    width: 500px;
}

.secondaryNav {
    background-color: rgba(113,166,51,.13);
}

.sticky {
    position: sticky;
    top: 0;
}

.total {
    font-weight: 600;
}

.value {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.value i{
    font-size: 100px;
}

.wPic {
    grid-area: wPic;
}

@media (max-width: 991.98px) { /*medium devices (tablets)*/
    .descGrid {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "description" 
        "request";
    }

    .searchLg {
        width: 450px;
    }
}

@media (max-width: 767.98px) { /*small devices (landscape phones)*/
    .searchLg {
        margin: 0 auto;
    }

    .value {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .value i{
        font-size: 80px;
    }
}

@media (max-width: 575.98px) { /*extra small devices (portrait phones)*/
    .picGrid{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "wPic qPic1" 
        "wPic qPic2";
    }
    
    .qPic3{
        display: none;
    }

    .qPic4{
        display: none;
    }

    .searchLg {
        width: 425px;
    }

    .value {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .value i{
        font-size: 50px;
    }
}