a {
    color: white;
    margin-bottom: 5px;
}

a:hover {
    color: #67982F;
    text-decoration: none;
}

body {
    color: #202C26;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
}

h3 {
    font-size: 25px;
    margin-top: 20px;
}

 i {
     color: #67982F;
 }

main {
    margin-bottom: 40px;
    margin-top: 40px;
}

footer {
    background-color: #254435;
    width: 100%;
    height: auto;
    z-index: -1;;
}

footer p, footer i {
    color: white;
    margin-bottom: 5px;
}

a:hover {
    color: #67982F;
    cursor: pointer;
}

footer .socials {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer i:hover {
    color: #67982F !important;
    cursor: pointer;
}

p {
    margin-bottom: 10px;
}

section {
    margin: 20px 0;
}
svg {
    height: 25px;
}

.avatar {
    background-color: #254435;
    border-radius: 40px;
    height: 55px;
    overflow: hidden;
    width: 55px;
}

.avatarThumb {
    background-color: #254435;
    border-radius: 25px;
    height: 24px;
    overflow: hidden;
    width: 24px;
}

.avatar i, .avatarThumb i {
    color: white;
    font-size: 14px;
}

.avatarImg {
    width: 55px;
}

.avatarGroup {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60px;
}

.avatarName {
    color: #7F7F7F;
    font-size: 14px;
    padding-top: 5px;
}

.bg-dark {
    background-color: #254435 !important;
}

.btn-outline-primary {
    color: #254435;
    border-color: #254435;
}

.btn-outline-secondary:hover {
    background-color: rgb(37,68,53);
    border-color: rgb(37,68,53);
}

.show>.btn-outline-primary.dropdown-toggle {
    background-color: #67982F;
    border-color: #67982F;
}

.btn-outline-primary:hover {
    background-color: #67982F;
    border-color: #67982F;
}

.btn-primary {
    border: #67982F;
    background-color: #67982F;
}

.btn-primary:hover {
    background-color: #254435;
    border: 1px solid white;
}

.show>.btn-outline-secondary.dropdown-toggle {
    background-color: #254435;
    border-color: #254435;
}

.cal {
    width: 50%;
    padding: 3%;
}

.calendar {
    height: auto;
    width: 100%;
}

.calendarPic {
    overflow: hidden;
    width: 100%;
}

.card {
    margin: 16px auto;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cardButton, .cardButton:hover {
    color: black;
}

.card-columns {
    column-count: 4;
}

.chargeDesc {
    border-bottom: 1px solid #E1E3E2;
    padding-top: 10px;
}

.conversation {
    background-color: mistyrose;
    height: 100vh;
    width: 70%;
}

.cost {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}

.descGrid {
    display: grid;
    height: auto;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "description request";
}

.description {
    grid-area: description;
}


.divider {
    border-top: 1px solid black;
    width: 100%;
}

.filter {
    margin: 0 5px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
}

.footerSection{
    padding: 40px 20px !important;
    width: auto;
}

.form-control {
    border-color: rgb(37,68,53);
}

.infoText {
    font-size: 12px;
}

.input-group-text {
    background-color: white;
    border: 1px solid #254435;
}

.jumbotron {
    background-image: url("../img/MixerHero-04.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.lgBody {
    font-size: 25px;
    font-weight: 600;
}

.location i {
    color: #6c757d;
}

.messages {
    background-color: yellow;
    height: 100vh;
    width: 30%;
}

.messagesBox{
    background-color: white;
    border-radius: 10px;
    height: 500px;
    width:100%;
}

.messageHeader{
    background-color: lightgray;
    height:55px;
    width: 100%;
}

.month {
    color: #7F7F7F;
}

.navbar i {
    color: white;
}

.navbar-brand, .nav-link{
    color: rgba(255,255,255,1) !important;
}

.nav-search {
    margin: auto 0;
}

.oneCal {
    display: none;
}

.page-link {
    color: #254435;
}

.pic {
    width: 100%;
    height: auto;
}

.picGrid {
    display: grid;
    height: 50%;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "wPic qPic1 qPic2" 
    "wPic qPic3 qPic4";
}

.postDate {
    color: #7F7F7F;
    font-size: 16px;
    font-style: italic;
}

.productSection {
    margin: 40px 0;
}

.qPic1 {
    grid-area: qPic1;
}
.qPic2 {
    grid-area: qPic2;
}
.qPic3 {
    grid-area: qPic3;
}
.qPic4 {
    grid-area: qPic4;
}

.rating {
    padding: 0 5%;
}

.request {
    grid-area: request;
    padding-left: 40px;
}

.requestBox {
    background-color:white;
    border: 1px solid #E1E3E2;
    border-radius: 10px;
    height: auto;
    padding: 40px 40px;
    width: 400px;
}

.requestHeader{
    border-bottom: 1px solid #E1E3E2;
    padding-bottom: 20px;
}

.review {
    border-top: 1px solid #E1E3E2; 
}

.reviewHeader {
    margin-left: 30px;
}

.reviewInfo {
    margin-bottom: 20px;
}

.search-hide {
    display: none !important;
    align-items: center;
}

.searchLg {
    background-color:white;
    border: 1px solid #E1E3E2;
    border-radius: 10px;
    height: auto;
    margin-left: 15%;
    padding: 40px 40px;
    width: 550px;
}

.secondaryNav {
    background-color: rgba(113,166,51,.13);
}

.sticky {
    position: sticky;
    top: 0;
}

.socials {
    width: 150px;
    padding: 10px 10px;
}

.socials i {
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.total {
    font-weight: 600;
}

.value {
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}

.value i{
    font-size: 100px;
}

.wPic {
    grid-area: wPic;
}

@media (max-width: 991.98px) { /*medium devices (tablets)*/

    .centerContent {
        display: none;
    }

    #desc .container {
        display: unset;
    }

    .description {
        margin-left:2%;
        margin-right: 2%;
    }

    .descGrid {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5px;
        grid-template-areas: 
        "description" 
        "request";
    }

    .footerSection{
        padding: 40px 10px !important;
    }

    .productFooter {
        position: relative;
        bottom:0px;
        left: 0px;
        padding-bottom: 80px;
    }

    .request {
        padding: 0;
        z-index: 1;
    }

    .requestBox {
        align-items: center;
        display: flex;
        border-radius: 0px;
        height: auto;
        justify-content: space-between;
        padding: 15px 40px;
        width: 100%;
    }

    .requestHeader {
        border: none;
        padding: 0;
        width: 50%;
    }

    .searchLg {
        width: 450px;
    }

    .sticky {
        position: fixed;
        left: 0;
        bottom: 0;
        top: unset;
        width: 100%;
    }
}

@media (max-width: 767.98px) { /*small devices (landscape phones)*/

    footer .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    
    .cal {
        width: 70%;
        padding: 5%;
    }

    .contact {
        text-align: center;
    }

    .footerContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 40px;
    }

    .footerLinks {
        text-align: center;
    }

    .footerSection {
        padding: 10px 20px !important;
        width: 100%;
    }

    .oneCal {
        display: contents;
    }

    .searchLg {
        margin: 0 auto;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .value {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .value i{
        font-size: 80px;
    }

    #removeMonth {
        display: none !important;
    }
}

@media (max-width: 575.98px) { /*extra small devices (portrait phones)*/
    .jumbotron {
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .picGrid{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "wPic qPic1" 
        "wPic qPic2";
    }
    
    .qPic3{
        display: none;
    }

    .qPic4{
        display: none;
    }

    .searchLg {
        width: 425px;
    }

    .value {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .value i{
        font-size: 50px;
    }
}